NODE_ENV="development" | "production" | "test"
PORT="3005"
CORS_ALLOWED_ORIGINS='["http://localhost:3001","https://admin.havendor.com","https://www.admin.havendor.com"]'
DATABASE_URL="" # PostgreSQL connection string
ENCRYPTION_KEY="" # Random string
HASH_PEPPER="" # Random string
REDIS_URL="" # Redis connection string
SERVICE_NAME=""
ENABLE_FILE_LOGGING="true" | "false"