NODE_ENV="development" | "production" | "test"
PORT="3005"
CORS_ALLOWED_ORIGINS='["http://localhost:3001","https://admin.havendor.com","https://www.admin.havendor.com"]'
DATABASE_URL="" # PostgreSQL connection string
ENCRYPTION_KEY="" # Random string, must same as tenant server
HASH_PEPPER="" # Random string
REDIS_URL="" # Redis connection string
SERVICE_NAME=""
ENABLE_FILE_LOGGING="true" | "false"
INTERNAL_SERVICE_SECRET="" # Random string, Must be same as all other services.
SMTP_HOST=""
SMTP_PORT=""
SMTP_PASS=""
SMTP_USER=""
IMAGE_SERVER=""
JWT_SECRET=""
JWT_ACCESS_EXPIRES=""
REFRESH_EXPIRES="2592000" # 30 Days